* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    color: #e7e9ea;

    font-family:
        "Segoe UI",
        sans-serif;
}
/* Layout styles */
.layout {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
/* Feed styles */
.feed {
    width: 600px;
    min-height: 100vh;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
}

.posts {
    width: 100%;
}